@use 'variables' as *;
@use '../mixins/mixins' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: $spacing-tb-button $spacing-lr-button;
  border: none;
  border-radius: $border-radius--med;
  @include text-style($font-body, 16px, 24px, 400);
  transition: background-color 0.25s linear;
  cursor: pointer;
}