@use 'variables' as *;

.logo-link {
  color: var(--white);
}

footer {
  background-color: var(--purple);
  color: var(--white);
  text-align: left;
}

@media screen and (max-width: $size-content-desktop) {
  //
}

@media screen and (min-width: $size-content-desktop) {
  //
}

