@use 'variables' as *;

*, * * {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 86px;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  color: var(--black);
  overflow-x: hidden;
  box-sizing: border-box;
}

.killscroll {
  overflow: hidden;
}

.site-wrapper {
  max-width: var(--site-width);
  margin: 0 auto;
  position: relative;
  display: block;
  background-color: var(--white);
}

section {
  position: relative;
  max-width: var(--site-width);
  margin: 0 auto;
}

.content-container {
  max-width: var(--site-width);
  margin: 0 auto;
  padding: 0 30px;
}

#skip a {
  display: block;
  position: absolute;
  left: -999px;
  top: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus {
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    color: var(--black);
    background-color: var(--white);
    padding: 5px;
    border-radius: 15px;
    border: 4px solid var(--black);
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
  }
}

