@use 'variables' as *;
@use '../mixins/mixins' as *;

// Build grid classes
@include generate-col-classes('', 4);
@include generate-col-classes('tablet', 6, $size-content-mobile);
@include generate-col-classes('desktop', 12, $size-content-tablet);

.grid {
  // Mobile
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing--gap-x-md-mobile $spacing--gap-y-md-mobile;

  // Tablet
  @media screen and (min-width: $size-content-mobile) {
    grid-template-columns: repeat(6, 1fr);
    gap: $spacing--gap-x-md-tablet $spacing--gap-y-md-tablet;
  }

  // Desktop
  @media screen and (min-width: $size-content-tablet) {
    grid-template-columns: repeat(12, 1fr);
    gap: $spacing--gap-x-md-desktop $spacing--gap-y-md-desktop;
  }
}

// ---------------------------------------------
// Section Spacing Utilities
// ---------------------------------------------

.section {
  padding: $spacing--tb-sm-mobile $spacing--lr-sm-mobile;

  @media screen and (min-width: $size-content-tablet) {
    padding: $spacing--tb-md-desktop $spacing--lr-md-desktop;
  }
}

.section--flush {
  padding: 0;
}

.main-nav {
  padding: $spacing--tb-sm-mobile $spacing--lr-sm-mobile;

  @media screen and (min-width: $size-content-tablet) {
    padding: $spacing--tb-xsm-tablet $spacing--lr-md-tablet;
  }

  @media screen and (max-width: $size-content-desktop) and (min-width: $size-content-tablet) {
    padding: $spacing--tb-xsm-desktop $spacing--lr-sm-desktop;
  }

  @media screen and (min-width: $size-content-desktop) {
    padding: $spacing--tb-xsm-desktop $spacing--lr-md-desktop;
  }
}

footer {
  padding: $spacing--tb-sm-mobile $spacing--lr-sm-mobile;

  @media screen and (min-width: $size-content-tablet) {
    padding: $spacing--tb-sm-tablet $spacing--lr-md-tablet;
  }

  @media screen and (min-width: $size-content-desktop) {
    padding: $spacing--tb-sm-desktop $spacing--lr-md-desktop;
  }
}