@media screen and (width >= 1080px) {
	.site-nav {
		position: relative;
		margin: 0 auto;
		width: 100%;

		// max-width: var(--site-width);
		display: flex;
		justify-content: center;
		z-index: 10;

		.site-header-pattern-picture {
			position: absolute;
			top: 0;
			left: 0;
		}

		.oc-auto-fit-logo-picture {
			position: absolute;
			top: 52px;
			left: 37px;
		}

		.menu-button {
			display: none;
		}

		.main-nav {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: left;

			// width: var(--content-width);
			width: 100%;
			background: #FFF 0% 0% no-repeat padding-box;
			box-shadow: 0 10px 24px #00000029;
			border-radius: 0 0 6px 6px;
			opacity: 1;
			margin: 0 auto;
			z-index: 2;
			padding: 40px;

			.btn-use-oc-auto-fit {
				position: absolute;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				top: 0;
				left: 710px;
				width: 328px;
				height: 49px;
				background-color: #006F9B;
				border-radius: 0 0 6px 6px;
				text-align: center;
				font: normal normal bold 17px/22px "Aktiv Grotesk", Arial, sans-serif;
				letter-spacing: 0;
				color: #FFF;
				text-decoration: none;

				&.router-link-exact-active {
					background-color: #C97B84;
				}
			}

			.core-pages {
				display: flex;
				flex-direction: row;
				justify-content: right;
				align-items: center;
				width: 100%;
				gap: 40px;

				> .fake-link,
				> a {
					position: relative;
					text-align: left;
					font: normal normal 500 17px/22px "Aktiv Grotesk", Arial, sans-serif;
					letter-spacing: 0;
					color: #1A1B41;
					text-decoration: none;

					&.router-link-exact-active {
						&::after {
							content: '';
							position: absolute;
							bottom: -28px;
							left: 0;
							width: 100%;
							background: #C97B84;
							height: 12px;

						}
					}
				}
			}
		}
	}
}

@media screen and (width < 1080px) {
	.site-nav {
		max-width: 100%;
		display: flex;
		justify-content: center;
		position: relative;
		z-index: 10;

		&::before {
			position: absolute;
			content: "";
			height: 100px;
			width: 100%;
			background: #FFF 0% 0% no-repeat padding-box;
			box-shadow: 0 10px 24px #00000029;
			border-radius: 0 0 6px 6px;
			z-index: 0;
		}

		.main-nav {
			position: relative;
			width: 100%;
			z-index: 1;
			top: 0;
		}

		.menu-button {
			position: absolute;
			top: 15px;
			right: 15px;
			display: flex;
			cursor: pointer;
			justify-content: center;
			align-items: center;
			z-index: 10;
			height: 50px;

			* {
				pointer-events: none;
			}

			.menu-open-button-graphic {
				width: 50px;
				height: 30px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;

				.line {
					height: 6px;
					width: 100%;
					border-radius: 3px;
					background-color: var(--teal);
				}
			}

			.menu-close-button-graphic {
				display: none;

				.line {
					position: relative;
					height: 50px;
					width: 50px;
					display: flex;
					flex-direction: column;
					justify-content: center;
				}

				.line::before,
				.line::after {
					position: absolute;
					content: '';
					width: calc(100%);
					height: 6px; /* cross thickness */
					background-color: var(--teal);
					border-radius: 3px;
				}

				.line::before {
					transform: rotate(45deg);
				}

				.line::after {
					transform: rotate(-45deg);
				}
			}
		}

		.core-pages,
		.btn-use-oc-auto-fit,
		.site-header-pattern-picture {
			display: none;
		}

		.oc-auto-fit-logo-picture {
			position: absolute;
			top: 15px;
			left: 15px;
		}

		&.active {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			backdrop-filter: blur(24px);
			height: 100vh;
			height: calc(var(--vh, 1vh) * 100);
			overflow: hidden;
			background-color: rgb(255 255 255 / 70%);

			.menu-open-button-graphic {
				display: none;
			}

			.menu-close-button-graphic {
				display: block;
			}

			.core-pages {
				padding: 130px 15px 15px;
				display: flex;
				flex-direction: column;
			}

			.sub-label {
				text-align: left;
				font: normal normal 400 18px/22px "Aktiv Grotesk", Arial, sans-serif;
				letter-spacing: 0;
				color: var(--black60);
			}

			.btn-use-oc-auto-fit {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: 15px;
				width: calc(100% - 30px);
				height: 48px;
				background-color: #006F9B;
				border-radius: 6px;
				text-align: center;
				font: normal normal bold 17px/22px "Aktiv Grotesk", Arial, sans-serif;
				letter-spacing: 0;
				color: #FFF;
				text-decoration: none;

				&.router-link-exact-active {
					background-color: #C97B84;
					color: #FFF;
				}
			}
		}
	}
}
